* {
	box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 16px;
}

@font-face {
	font-family: 'HelveticaNeueLTStd-Lt';
	src: url('../fonts/HelveticaNeueLTStd-Lt.eot');
	src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
		url('../fonts/HelveticaNeueLTStd-Lt.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT-Std';
	src: url('../fonts/HelveticaNeueLTStd-LtCn.eot');
	src: url('../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTStd-LtCn.woff') format('woff'),
		url('../fonts/HelveticaNeueLTStd-LtCn.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLTStd-Bd';
	src: url('../fonts/HelveticaNeueLTStd-Bd.eot');
	src: url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
		url('../fonts/HelveticaNeueLTStd-Bd.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLTStd-Md';
	src: url('../fonts/HelveticaNeueLTStd-Md.eot');
	src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
		url('../fonts/HelveticaNeueLTStd-Md.ttf')  format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/HelveticaNeueLTStd-BdCn.eot');
	src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
		url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

img {
	max-width: 100%;
}

.f-width {
	width: 100%;
}

.wrapper {
	max-width: 1800px;
	margin: auto;
	background-color: #fff;
}

header .container-fluid,
footer .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.title-section{
	display: flex;
    flex-direction: column;
}

 .title-section h1 {
	font-family: 'Helvetica Neue LT-Std';
	font-size: 3rem;
	color: #ffffff;
}
.title-section h2 {
	font-family: 'Helvetica Neue LT-Std';
	font-size: 4rem;
	color: #ffffff;
}
.title-section h3 {
	font-family: 'Helvetica Neue LT-Std';
	font-size: 2.5rem;
	color: #ffffff;
	margin-left: 1rem;
}
.divTiulos{
	display: flex;
    justify-content: flex-start;
	align-items: center;
}
footer {
	background: #212530;
	font-family: 'HelveticaNeueLTStd-Lt';
	font-size: 1.5rem;
	color: #fff;
	padding: 2rem;
}

footer a {
	color: #fff;
}

footer a:hover,
footer a:focus {
	color: #fff;
	text-decoration: underline;
}

.nav-list ul {
	list-style: none;
	padding-left: 0;
}

.nav-list ul li {
	display: inline-block;
	margin-right: 1.25rem;
}

.nav-list ul li a {
	color: #fff;
}

#dispositivos-slider {
	background: url(../img/bg-carousel.jpg) top left no-repeat;
	font-family: 'Helvetica Neue LT Std';
	background-size: cover;
}

#highlight-01 {
	font-family: 'Helvetica Neue LT-Std';
	font-weight: bold;
	font-size: 2.75rem;
	line-height: 5rem;
	color: #fff;
	margin: auto;
}

.highlight-03 {
	font-family: 'Helvetica Neue LT-Std';
	font-size: 3.25rem;
	color: #000;
    margin-bottom: 20px;
}

.bajada {
	font-family: 'Helvetica Neue LT-Std';
	font-size: 2.5rem;
	color: #000;
    margin-top: 1.5rem;
	margin-bottom: 20px;
}

.highlight-02 {
	font-family: 'Helvetica Neue LT-Std';
	font-size: 3.5rem;
	color: #000;
}

.highlight-02 a {
	color: #000;
}

.highlight-02 a:hover {
	color: #186990;
	text-decoration: none;
}

.highlight-02 .glyphicon.glyphicon-triangle-right {
	font-size: 3rem;
	margin-right: 1rem;
}


/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.blue-link {
	font-family: 'Helvetica Neue LT-Std';
	font-size: 2rem;
	color: #186990;
	margin-left: 4rem;
}

.blue-link:hover {
	text-transform: uppercase;
	text-decoration: none;
}

#info > p {
	text-align: left;
	font-family: 'HelveticaNeueLTStd-Lt';
	font-size: 1.75rem;
	margin-bottom: 1.75rem;
}

.recuadro-negro {
	background: url(../img/bg-back.banner.jpg) left bottom no-repeat #1f1f1f;
	background-size: cover;
	padding: 2rem 3rem;
}

.grey-link {
	font-family: 'Helvetica Neue LT-Std';
	font-size: 2.75rem;
	color: #d0cccc;
	margin: auto;
}

.grey-link:hover {
	color: #fff;
	text-decoration: underline;
}

.white-title {
	font-family: 'Helvetica Neue LT-Std';
	font-size: 5rem;
	color: #d0cccc;
}

.item-dist {
	margin-bottom: 6rem;
}

.item-dist > h3 {
	font-family: 'Helvetica Neue LT Std';
	font-size: 2rem;
}

.item-dist > p {
	font-family: 'Helvetica Neue LT-Std';
	font-size: 1.75rem;
}

/* FORMULARIO */
label {
	font-family: 'Helvetica Neue LT-Std';
	font-size: 2rem;
	margin: 1rem auto;
}
.form-control {
	border: #666 1px solid;
	border-radius: 0;
	font-family: 'Helvetica Neue LT-Std';
	font-size: 2rem;
	margin-bottom: 1rem;
}

button {
	text-align: center;
	color: #fff;
	font-family: 'Helvetica Neue LT-Std';
	font-size: 2rem;
	transition: all ease .2s;
	width: 150px;
	line-height: 3rem;
	display: inline-block;
}

.grey-btn {
	border: #c6c7c7 1px solid;
	background: #c6c7c7;
}

.grey-btn:hover {
	background: #fff;
	color: #c6c7c7;
	margin-right: 20px;
}

.blue-btn {
	border: #428daa 1px solid;
	background: #428daa;	
}

.blue-btn:hover {
	background: #fff;
	color: #428daa;
}

.black-btn {
	text-align: center;
	color: #000;
	font-family: 'Helvetica Neue LT Std';
	font-size: 2rem;
	transition: all ease .2s;
	line-height: 4rem;
	border: #000 1px solid;
	background: #fff;
	display: block;
}

.black-btn:hover {
	color: #fff;
	background: #000;
	text-decoration: none;
}

.bolder {
	font-family: 'Helvetica Neue LT Std';
	font-size: 2rem;
	padding: 3px;
}

.full-width {
	width: 100%;
}

/* EQUIPOS */
.nav-equipos div {
	background: #77abc0;
	font-family: 'Helvetica Neue LT-Std';
	font-size: 2rem;
	line-height: 5rem;
	color:#fff;
	padding-left: 2rem;
	margin-bottom: 1rem;
}

.nav-equipos div .glyphicon.glyphicon-triangle-right {
	margin-right: 1rem;
	font-size:1.5rem;
}

.nav-equipos div.active{
	background: #428daa;
	font-family: 'Helvetica Neue LT Std';
	font-style:italic;
}

.nav-equipos ul {
	padding-left: 0;
}

/* .equiposDivision {
	background-image: url('../img/equiposDivision.jpg');
	background-size: cover;
	min-height: 100vh;
    background-position: center;
} */
.divDivision {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #000;
}
.divisionMobile{
	display: none;
}
.mobileHome{
	background-image:url('../img/galeria1.png');
	background-size: cover;
    background-position: center;
	height: calc(100vh/3);
	display: none;
	border: solid 2px #000;
	font-family: 'HelveticaNeueLTStd-Md';
}
.divParrafo {
	color: white;
	font-family: 'HelveticaNeueLTStd-Md';
	display: flex;
    justify-content: center;
	flex-direction: column;
    align-items: center;
    width: 50%;
}
.divParrafo h4 {
	font-size: 30px;
}
.divParrafo h5 {
	font-size: 20px;
}
.fondo1{
	background-image:url('../img/galeriaLab.png');
	background-size: cover;
	height: 100vh;
    background-position: center;
	position: relative;
	text-decoration: none;
}
.fondo1:active{
	zoom: 135%;
	text-decoration: none;
	color: #fff;
}
.fondo2{
	background-image:url('../img/galeriaIlu.png');
	background-size: cover;
	height: 100vh;
    background-position: center;
	position: relative;
	text-decoration: none;
	color: #fff;
}
.fondo2:active{
	zoom: 135%;
	text-decoration: none;
	color: #fff;
}


.divIngresar {
	display: flex;
    align-items: center;
	font-family: 'Helvetica Neue LT-Std';
	font-size: 25px;
}
.divIngresar h6{
	color: white;
	text-decoration: none;
	font-size: 25px;
}
.divIngresar img {
	width: 70%;
}
#div-ilum {
	margin-bottom: 6rem;
}

.link-list {
	list-style: none;
	margin-bottom: 1rem;
	font-family: 'Helvetica Neue LT-Std';
	font-size: 2rem;
	line-height: 5rem;
	color: #458ba9;
}

.nav-equipos ul li {
	border: 2px solid #9fbed1;
	padding-left: 2rem;
	list-style: none;
	margin-bottom: 1rem;
	font-family: 'Helvetica Neue LT-Std';
	font-size: 2rem;
	line-height: 5rem;	
}

.nav-equipos ul li.current,
.nav-equipos ul li:hover {
	border: 2px solid #458ba9;
}

.nav-equipos ul li.current a {
	color: #458ba9;
}

.nav-equipos ul li a {
	color: #999a9d;
}

.nav-equipos ul li a:hover,
.link-list ul li a:hover {
	text-decoration: none;
	color: #458ba9;
	cursor: pointer;
}

.glyphicon.glyphicon-stop {
	font-size: 1.25rem;
	color: #76aac1;
	margin-right: 1.5rem;
}

.nav-equipos ul li:hover .glyphicon.glyphicon-stop {
	color: #458ba9;
}

h2.name {
	
	color: #1a4b6b;
	font-family: 'Helvetica Neue LT Std';
	font-size: 2.25rem;
	line-height: 2.25rem;
}

h3.brand {
	font-family: 'Helvetica Neue LT-Std';
	font-size: 1.75rem;
	line-height: 1.75rem;
	color: #1a4b6b;
}

hr.name-line {
    margin-top: 2.5rem;
    margin-bottom: 1.75rem;
    border: 0;
    border-top: 3px solid #c8c8c8;
}

hr.bolder-line {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 3px solid #000;
}

.vip {
	font-family: 'Helvetica Neue LT-Std';
	font-size: 1.75rem;
	color: #1a4b6b;
	line-height:2rem;
}

.title-list,
.description {
	font-family: 'HelveticaNeueLTStd-Md';
	font-size: 1.7rem;
	color: #1a4b6b;
}

.description {
	padding-left: 0;
	margin-left: 0;
}

.description li {
	list-style: none; 
}

#flag {
	vertical-align: baseline; 
	margin-left: 3px;
}
/*acomodar el divBannertamaño*/ 
.divBannerBG{
	background-image: url('../img/galeria/banner.png');
	height: calc(100vw / 6);
	width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
	display: flex;
    justify-content: space-between;
}
.divBannerIlu{
	background-image: url('../img/galeria/banner1.png');
	width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.divBannerIlu div{
	height: 100%;
}
.tituloBanner{
	display: flex;
    align-items: center;
}
.tituloBanner h1{
	font-size: 34px;
	font-family: 'HelveticaNeueLTStd-Lt';
	text-align: left;
	color:#186990;
	margin: 3px;
}
.tituloBanner h2{
	font-size: 24px;
	font-family: 'HelveticaNeueLTStd-Lt';
	text-align: left;
	color:#186990;
	margin: 3px;
}
.tituloNegatoscopio{
	color: #1a4b6b;
	font-size: 45px;
	font-family: 'HelveticaNeueLTStd-Lt';
	text-align: left;
	/* width: 50%; */
    display: flex;
	flex-wrap: wrap;
    align-content: center;
	align-items: center;
	padding: 2%;
}
.tituloNegatoscopio img{
	width: 15px;
	height: 20px;
	margin-right: 10px;
}
.containerIluminacion{
	background-color: #000;
	height: 100vh;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}
.containerIluminacion a{
	color: white;
	text-decoration: none;
}
.divLinkIluminacion{
	background-image: url('../img/iluHome.png');
	display: flex;
    flex-direction: column;
    align-items: center;
	height: 70%;
	width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-end;
}
.containerTextosIlu{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.divTextIlu{
	display: flex;
	color: white;
	align-items: center;
}
.divTextIlu img{
	height: 50%;
}
.divTextIlu h4{
	font-size: 2.5rem;
	font-family: 'HelveticaNeueLTStd-Md';
}
.divLinkIluminacion a{
	font-family: 'HelveticaNeueLTStd-Md';
	font-size: 2rem;
	margin-bottom: 5px;
}
.divProductosIlu{
	display: flex;
    justify-content: center;
}
.divProductoLab{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	
}
.divProximamente{
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'HelveticaNeueLTStd-Md';
	font-size: 3rem;
	color: #1a4b6b;

}
.containerProductosIlu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productosIluDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.categoriaProductosDiv{
	width: 200px;
	margin: 2%;
	display: flex;
    text-align: center;
    flex-direction: column;
	align-items: center;
}
.categoriaProductosDiv h5 {
	color: #186990;
	font-family: 'HelveticaNeueLTStd-Md';
	font-size: 15px;
}
.categoriaProductosDiv a {
	color: #186990;
	font-family: 'HelveticaNeueLTStd-Md';
	font-size: 15px;
}
.divImgIlu{
	border: solid 1px #186990;
	width: 100%;
	display: flex;
    justify-content: center;
}
.divImgIlu img{
	height: 130px;
}
.irArriba{
	width: 90%;
	margin-bottom: 1%;
    display: flex;
    justify-content: flex-end;
}
.irArribaText{
	color: #186990;
	font-family: 'Helvetica Neue LT-Std';
	font-size: 1.75rem;
	line-height: 1.75rem;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}
.irArribaText img{
	width: 15px;
	height: 25px;
	margin-right: 10px;
}
.containerBannerText{
	width: 100%;
    display: flex;
    align-items: center;
	justify-content: flex-start;
}
.divBanner{
	width: 100%;
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.divBanner h1 {
	font-size: 25px;
	font-family: 'HelveticaNeueLTStd-Lt';
	text-align: left;
	color: #fff;
	margin: 0;
}
.divBanner h3 {
	font-size: 54px;
	font-family: 'HelveticaNeueLTStd-Lt';
	text-align: left;
	color: #fff;
	margin: 0;
}
.divBanner h4 {
	font-size: 24px;
	font-family: 'HelveticaNeueLTStd-Lt';
	text-align: left;
	color: #fff;
	margin-left: 2%;
}
.divTextosBanner{
	display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.containerCategoria{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	width: 100%;
}


.imgGaleria{
	width: 20%;
	border: solid 4px black;
    height: 310px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	font-family: 'HelveticaNeueLTStd-Lt';
	font-size: 3rem;
	text-align: center;
	color: #fff;
	display: flex;
	align-items:center ;
	align-items: center;
    flex-direction: column;
    justify-content: flex-end;
	
}

.imgGaleria a {
	text-decoration: none;
	color: #fff;
	font-family: 'HelveticaNeueLTStd-Lt';
	font-size: 1.5rem;
	cursor: pointer;

}

.textCategoria{
	display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textCategoria p{
	font-family: 'HelveticaNeueLTStd-Md';
	color:#fff;
	font-size: 1.7rem;
	line-height: 1.8rem;
}

.divTextCategoria{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 7%;
}
.divTextCategoria img{
	width: 25%;
}
.subcategoriasDIV{
	height:100vh;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.imgSubcategoria{
	height: 70%;
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.imgSubcategoria p{
	font-family: 'Helvetica Neue LT Std';
	color: #186990;
}
.imgSubcategoria a{
	font-family: 'HelveticaNeueLTStd-Bd';
	color: #186990;
}
.imgSubcategoria img {
	max-width: 230px;
    width: inherit;
    height: inherit;
}
.division{
	display: flex;
	width: 20%;
    padding-top: 5%;
    flex-direction: column;
	color: #1a4b6b;
}
.division h5{
	font-family: 'HelveticaNeueLTStd-Md';
	font-size: 1.5rem;
	line-height: 1.75rem;
}
.division h6{
	font-family: 'Helvetica Neue LT-Std';
	font-size: 1.55rem;
	line-height: 1.75rem;
}

.iconDivision{
	width: 100%;
	color: #186990;
    font-size: 45px;
    font-family: 'HelveticaNeueLTStd-Lt';
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 2%;
}
.iconDivision img{
	width: 10px;
    height: 15px;
    margin-right: 10px;
}
.iconDivisionLab{
	display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.iconDivisionLab img{
	width: 10px;
    height: 15px;
    margin-right: 10px;
}

.divProductoView{
	display: flex;
    flex-wrap: wrap;
    width: 100%;

    align-items: flex-start;
    justify-content: space-between;
}
.modeloText{
	font-family: 'Helvetica Neue LT Std';
	font-size: 40px;
}
.divImagen{
	width: 80%;
}
.divImagen p{
	color: #1a4b6b;
	font-family: 'HelveticaNeueLTStd-Md';
	font-size: 20px;

}
/*Buscador*/ 

.select-box{
	margin-top:100px;
	width: 300px;
	position: relative;
}
.select-option{
	position: relative;
}
.select-option input{
	width: 100%;
	background-color: #fff;
	color: #000;
	border-radius: 10px;
	cursor: pointer;
	font-size: 22px;
	padding: 15px 20px;
	border: 0;
	outline: 0;
}
.select-option:after{
	content: "";
	border-top: 12px solid #186990;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position: absolute;
	right: 3px;
	top: 50%;
	margin-top: 0;
}

.content{
	background-color: #fff;
	position: absolute;
	color: #000;
	border-radius: 10px;
	margin-top: 15px;
	width: 100%;
	z-index: 999;
	padding: 15px;
	display: none;
}

.search input{
	width: 100%;
	font-size: 17px;
	padding: 15px;
	outline: 0;
	border: 3px solid #186990;
	border-radius:5px ;

}

.options{
	margin-top: 10px;
	max-height: 250px;
	overflow-y: auto;
	padding: 0;
}
.options li{
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 23px;
	cursor: pointer;
	border-bottom: 3px solid #186990;
}
.options li:hover{
	background-color: #5e8ec0;
}

.select-box.active .content{
	display: block;
}

.select-box.active .select-option:after{
	transform: rotate(-180deg);
}
.white{
	color: white;
}



@media (min-width: 1650px) {
	
	.recuadro-negro.text-left {
		height: 445px;
	}
	
}

@media (min-width: 1400px) {
	.nav > li > a {
		padding: 10px 40px;
	}
	
	.navbar-nav {
		position: relative;
		bottom: -20px;
	}	
	
	footer {
		padding: 3rem 2rem;
	}
	
	footer .ptop {
		padding-top: 1.5%;
	}
	
	#highlight-01 {
		width: 65%;		
		margin-top: 10%;
	}
	
	.recuadro-negro {
		padding: 5rem 7rem;
	}
	
	#comentarios {
		height: 200px;
	}
	
	.nav-equipos {
		padding-top: 4rem;
	}
	.imgGaleria{
		font-size: 1.3rem;
	}
}

@media (min-width: 1001px) {
	#sm-visible {
		display: none;
	}
}

@media (max-width: 1000px) {
	.recuadro-negro {
		margin-bottom: 20px;
	}
	
	.ptop {
		margin-bottom: 10px;
	}
	
	#lg-visible {
		display: none;
	}
	.containerCategoria {
		flex-direction: column;
		align-items: center;
	}
	.textCategoria{
		margin-bottom: 0;
		font-size: 2rem;
	}
	.imgGaleria {
		width: 100%;
		height: calc(100vh /4);
		font-size: 3rem;
		display: flex;
		justify-content: center;
	}
	.imgGaleria a{
		margin: 0;
		font-size: 2rem;
	}
	
}
 @media (min-width: 769px){
	.divDivision{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-color: #000;
	}
	.fondo1:active{
		zoom: 0%;
	}
	.fondo2:active{
		zoom: 0%;
	}

} 
@media (max-width: 768px) {
	body {
		font-size: 12px;
	}
	
	.navbar-inverse .navbar-brand {
		width: 70%;
	}
	
	#dispositivos-slider {
		padding-bottom: 20px;
	}
	.divDivision{
		display: none;
	}
	.divisionMobile{
		display: flex;
		height: 100%;
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #000;
	}
	.mobileHome{
		background-size: cover;
		height: calc(100vh/3);
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		color: #fff;
	}
	.mobileHome h4{
		font-size: 25px;
	}
	
	.divParrafo{
		display: none;
	}
	.fondo1{
		background-image:url('../img/galeria2.png');
		background-size: cover;
		height: calc(100vh/3);
		background-position: center;
		display: flex;
		width: 100%;
		border: solid 2px #000;
	}

	.fondo1 h4{
		font-size: 20px;
	}
	.fondo2{
		background-image:url('../img/galeria3.png');
		background-size: cover;
		height: calc(100vh/3);
		background-position: center;
		display: flex;
		width: 100%;
		border: solid 2px #000;
	}
	
	.fondo2 h4{
		font-size: 20px;
	}
	
	.clickMobile.agrandar { 
		zoom: 75%;
		
	}
	.containerCategoria{
		flex-direction: column;
		align-items: center;
	}
	.imgGaleria{
		width: 100%;
		height: calc(100vh /4);
	}
	.divBanner{
		justify-content: center;
	}
	.divBanner h1 {
		font-size: 2rem;
	}
	.divBanner h3 {
		font-size: 1.7rem;
	}
	.divBanner h4 {
		font-size: 1.7rem;
	}
	.divBannerBG{
		height: calc(100vw / 4);
	}
	.imgSubcategoria {
		width: 90%;
	}
	.mobileCategorias{
		width: 100%;
	}
	.mobileDivImg{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	.textCategoria{
		margin-bottom: 0;
	}
	
	.tituloBanner h1{
		font-size: 30px;
	}
	.tituloBanner h2{
		font-size: 20px;
	}
	.title-section{
		align-items: center;
	}
	.title-section h1{
		font-size: 3.3rem;
		
	}
	.title-section h2{
		font-size: 3rem;
	
	}
	.title-section h3{
		font-size: 2.5rem;
		
	}
	.divLinkIluminacion{
		height: calc(100vh / 2);
	}
	.divLinkIluminacion a{
		font-size: 2rem;
	}
	.divTextIlu h4 {
		font-size: 2rem;
	}
	
	.tituloNegatoscopio {
		font-size: 45px;
		width: 100%;
		justify-content: center;
	}
	.containerProductosIlu {
		height: 100%;
		width: 100%;
	}
	.productosIluDiv {
		width: 100%;
		height: 100%;
		justify-content: center;
		padding: 10px;
	}
	.categoriaProductosDiv {
		width: 160px;
		margin: 5% 3% 5% 3%;
	}
	.irArribaText{
		font-size: 25px;
	}
	.irArribaText img{
		width: 10px;
		height: 20px;
	}
	.division{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.divImagen{
		width: 100%;
	}
}
@media(max-width:670px){
	.title-section h1{
		font-size: 2.5rem;
		
	}
	.title-section h2{
		font-size: 1.5rem;
	
	}
	.title-section h3{
		font-size: 1.5rem;
		
	}
	.divTextIlu{
		width: 80%;
	}
	.divLinkIluminacion{
		height: 40%;
		width: 100%;
	}
	.divLinkIluminacion a{
		font-size: 1.5rem;
		margin-bottom: 0.2rem;
	}
	.divTextIlu h4 {
		font-size: 2rem;
	}

}
@media (max-width: 350px) {
	.tituloBanner h1{
		font-size: 25px;
	}
	.tituloBanner h2{
		font-size: 15px;
	}
	.imgSubcategoria {
		width: 90%;
	}
}